name: C/C++ CI

on:
  workflow_dispatch:
    # allow manual launch

  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: build.sh
      run: ./build.sh
